/*Navbar stuff*/

.navbar {
  background-color: #9b59b6;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ecdbff;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ecdbff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.navbar .navbar-toggle {
  border-color: #8e44ad;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #8e44ad;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #ecdbff;
}
.btn-outline-light {
  color: #0275d8;
  border-color: #0275d8;
}

.btn-outline-light:hover {
  background-color: #0275d8;
  border-color: #0275d8;
 }

.search {
  border: 1px #0275d8;
 }

.search:focus {
  border-color: #0275d8;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px;*/
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px;
 }

 #img_logo {
  font-style: oblique;
  font-size: 40px;
  color: #8e44ad;
  max-height: 100px;
  max-width: 100px;
  text-align: center;
 }

 #login_lost_btn #login_register_btn {
  color: #8e44ad;
 }

 .btn-link, .btn-link:focus, .btn-link:hover {
    background-color: #8e44ad;
    box-shadow: none;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #8e44ad;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #8e44ad;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #8e44ad;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #8e44ad;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ecdbff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ecdbff;
  background-color: #8e44ad;
}

/*Home page*/

body {
  font: 400 15px/1.8 Lato, sans-serif;
  background-color: #f3e5f5;
}

.giphy-embed {
  text-align: center;
}

/*footer*/
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: #8e44ad;
  background-color: #9b59b6;
}

.footer-copyright {
  text-align: center;
  color: white;
}

/*pictures on profile pages*/
#user_pic {
  height: 150px;
  width: 150px;
}

#biz_pic {
  height: 150px;
  width: 150px;
}

.fa-heart, .fa-heart-o {
  color: #880e4f;
}

i::before{
    background:transparent;
}


/*card border*/
.card, .card-img-top {
border-radius: 1;
}

/*rotate background pic*/
.img-fluid {
  transform: rotateY(90deg);
}

/*avatar*/

.avatar-top {
  height: 125;
  width: 125;
  left: 35%;
  top: -10%;
  position: absolute;
  margin-top: -25px;
  margin-left: -25px;
}

/*modal avatar box*/
.modal-avatar {
  height: 250;
  width: 250;
  left: 40%;
  top: 0%;
  position: absolute;
  margin-top: -25px;
  margin-left: -25px;
}

.lowercase {
  text-transform: lowercase;
}

