{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}

<h1>BUDdy</h1>

<div class='container-fluid'>

  <div>
    <img src='/static/img/world.jpeg'>
  </div>

  <h2>About Us</h2>

  <div>
    <p>Great things come in small packages. Local businesses are truly just that...local (and not chains). While the larger corporations and chains benefit from scale, they sacrifice customer service and the genuine human interaction.
    </p>
    <p>Our mission is to support the local 'mom and pops' and help facilitate the community in supporting each other. Word of mouth is a primary source of how these budding businesses survive and grow, with many building out their customer base with referral programs.</p>
    <p>These businesses have dealt with challenges in other social media forums whose algorithms bury positive reviews and/or discount the respective ratings. We strive to be transparent for consumers to do their own filtering. Reviewers are able to adjust their original rating if warranted or provide a separate customer service rating for the owner's attempt at addressing their concerns.</p>
    <p>Small businesses with consistent low ratings and/or unethical practices will be removed from BUDdy.</p>
    <p>Pay It Forward!</p>
  </div>

</div>

{% endblock %}

{% block script %}

{% endblock %}