<!doctype html>
<html>
<head>
    <title>BUDdy</title>
</head>
<body>

BUDdy

{% if "user_id" in session %}
    <div>
        <a href="/logout">Log Out</a> | <a href='/user-profile'>Account</a>
    </div>

    <div>
        <form action='/search' method='POST'>
        Search: <input type='search' name='search-keys'>
        <input type='submit'>
        <!-- TO DO: build out BUD button for submit button
            build out /search page and related python code -->
        </form>
    </div>

{% else %}
    <div>
        <a href="/login">Log In</a> | <a href='/register'>Sign Up</a>
    </div>
{% endif %}



<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

</body>
</html>