<!doctype html>
<html>
<head>
    <title>BUDdy</title>

    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css'>

<!--     <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Raleway:100,700'>
    <link rel='stylesheet' type='text/css' href='/static/css/maps.css'> -->
    <link rel='stylesheet' type='text/css' href='/static/css/style.css'>
    <script src="https://use.fontawesome.com/0bc045b751.js"></script>

<!--     <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com"> -->


    {% block head %}
      <!-- Put extra CSS/JS here -->
    {% endblock %}

</head>
<body>

<nav class='navbar navbar-expand-lg navbar-dark'>
<!-- Image and text -->
  <a class='navbar-brand' href='/'>
    <img src='/static/img/pinky.jpg' width='30' height='30' class='d-inline-block align-top' alt=''>
    BUDdy
  </a>
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>

<!-- Search bar -->
  <div class='collapse navbar-collapse justify-content-end' id='navbarSupportedContent'>

    <form class='mx-2 my-auto d-inline w-75' action='/search' method='POST'>
      <div class='input-group'>
        <input class='form-control search' name='search' placeholder='Where To?' autocomplete='on' autofocus='autofocus' type='text'>
        <span class='input-group-btn'>
          <button class='btn btn-outline-light' type='submit'>Search</button>
        </span>
      </div>
    </form>

            <!-- TO DO: build out BUD button for submit button
            build out /search page and related python code -->

<!-- Profile, register and login/logout -->
    <ul class='navbar-nav ml-auto' id='nav-item'>
      <li class='nav-item'>
        <a class='nav-link' href='/'>Home <span class='sr-only'>(current)</span></a>
      </li>

      {% if 'user_id' in session %}
        <li class='nav-item'>
          <a class='nav-link' href='/logout'>Log Out</a>
        </li>
      {% else %}
        <li class='nav-item'>
          <a class='nav-link' href='/register'>Sign Up</a>
        </li>
      {% endif %}

      {% if 'user_id' in session %}
        <li class='nav-item dropdown'>
          <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            Profile
          </a>
          <div class='dropdown-menu dropdown-menu-right' aria-labelledby='navbarDropdown'>
            <a class='dropdown-item' href='/user-profile'>Account</a>
            <a class='dropdown-item' href='#'>Friends</a>
            <div class='dropdown-divider'></div>
            <a class='dropdown-item' href='#'>Reviews</a>
            <a class='dropdown-item' href='#'>Referrals</a>
            <a class='dropdown-item' href='#'>Promos/Reds</a>
            {% if session['biz_acct'] == True %}
              <div class='dropdown-divider'></div>
              <a class='dropdown-item' href='#'>Business Account</a>
            {% endif %}
          </div>
        </li>
        <!-- TO DO: Break up various components of user-profile into sections -->
        <img src='{{ session['user_pic'] }}' width='30' height='30' class='d-inline-block align-top' alt='right'>
      {% else %}

        <li class='nav-item'>
          <a class='nav-link' href='/login' data-toggle='modal' data-target='#login-modal'>Log In</a>
          <!-- nav-link disabled => if needed -->
        </li>
      {% endif %}
    </ul>
  </div>
</nav>

<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

<!--Footer-->
<footer id='footer' class='center-on-small-only pt-0'>
    <!--Footer Links-->
        <!--Grid row-->
        <div class="row pt-5 text-center d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-md-2">
                <h6 class="title font-bold"><a href='/about-us'>About us</a></h6>
            </div>
            <div class="col-md-2">
                <h6 class="title font-bold"><a href="#!">Help</a></h6>
            </div>
            <div class="col-md-2">
                <h6 class="title font-bold"><a href='mailto:balloonicorn@hackbrightacademy.com'>Contact</a></h6>
            </div>

        </div>

        <hr class="rgba-white-light" style="margin: 0 15%;">

        <div class="row pb-3">

            <div class="col-md-12">

                <div class="footer-socials flex-center">
                    <!--Facebook-->
                    <a class="icons-sm fb-ic"><i class="fa fa-facebook fa-lg white-text mr-md-4"> </i></a>
                    <!--Twitter-->
                    <a class="icons-sm tw-ic"><i class="fa fa-twitter fa-lg white-text mr-md-4"> </i></a>
                    <!--Google +-->
                    <a class="icons-sm gplus-ic"><i class="fa fa-google-plus fa-lg white-text mr-md-4"> </i></a>
                    <!--Linkedin-->
                    <a class="icons-sm li-ic"><i class="fa fa-linkedin fa-lg white-text mr-md-4"> </i></a>
                    <!--Instagram-->
                    <a class="icons-sm ins-ic"><i class="fa fa-instagram fa-lg white-text mr-md-4"> </i></a>
                    <!--Pinterest-->
                    <a class="icons-sm pin-ic"><i class="fa fa-pinterest fa-lg white-text"> </i></a>
                </div>
            </div>
        </div>

    <!--Social buttons-->
<!--     <div class="social-section text-center">
        <ul>

            <li><a class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-li"><i class="fa fa-linkedin"> </i></a></li>

        </ul>
    </div> -->
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class='footer-copyright'>
        <div class='container-fluid'>
          © 2017 Copyright: <a href='#!'> BUDdy.com </a>
        </div>
    </div>
    <!--/Copyright-->
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS, then other JS -->

<script src='https://code.jquery.com/jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/js/mdb.min.js'></script>
<script type='text/javascript' src='/static/js/main.js'></script>
<!-- <script src='https://maps.googleapis.com/maps/api/js'></script> -->
<!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->

{% block script %}

{% endblock %}

<script>
  // function signOut() {
  //   let auth2 = gapi.auth2.getAuthInstance();
  //   auth2.signOut().then(function () {
  //     console.log('User signed out.');
  //   });
  // }
  // $('#glogout').on('click', signOut); // not sure if duplicative with above onclick.
</script>

</body>

</html>