<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DevExtreme Demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src='https://code.jquery.com/jquery.js'></script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.3/css/dx.spa.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.3/css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="https://cdn3.devexpress.com/jslib/17.2.3/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/17.2.3/js/dx.all.js"></script>
    <script src="/static/js/bubble_data.js"></script>
    <link rel="stylesheet" type ="text/css" href ="/static/css/bubble.css" />
    <script src="/static/js/bubble.js"></script>
</head>
<body class="dx-viewport">
    <div class="demo-container">
        <div id="chart"></div>
    </div>
</body>
</html>