{% extends 'base.html' %}
{% block content %}

  <h1>Business Profile</h1>

  <!-- TO DO: Set each as either menu item on left panel or as scroll down from nav bar. -->
  <div>
    {% if biz.biz_pic %}
      <img  id='biz_pic' src='{{ biz.biz_pic }}' hspace='40' align='left'>
    {% else %}
      <img  id='biz_pic' src='/static/img/dragonfly_mating.jpeg' hspace='40' align='left'>
    {% endif %}

    <h2>{{ biz.biz_name }}
      {% if biz.deg_of_sep(session['user_id']) %}
        <i class='fa fa-chain prefix'></i> {{ biz.deg_of_sep(session['user_id']) }}
      {% else %}
        <i class='fa fa-chain-broken prefix'></i>
      {% endif %}</li></h2>
  </div>

  <hr>

  <div class='container-fluid'>

    {% if not biz.is_checkin(session['user_id']) %}

      <button type='button' class='btn btn-unique btn-rounded waves-light check-in' data-review-id='{{ biz.biz_id }}' mdbRippleRadius><a href='/checkin/{{ biz.biz_id }}'>Check-In</a></button>

    {% endif %}

    {% if (not biz.has_reviewed(session['user_id'])) or (not biz.is_claimed) %}
      <button type='button' class='btn btn-unique btn-rounded waves-light' mdbRippleRadius><a href='/review/{{ biz.biz_name }}'>Review Business</a></button>
    {% endif %}

    {% if not biz.is_claimed() %}
      <button type='button' class='btn btn-unique btn-rounded waves-light claim-biz' data-review-id='{{ biz.biz_id }}' mdbRippleRadius><a href='/claim-biz/{{ biz.biz_id }}'>Claim Business</a></button>
    {% endif %}

      <hr>

  <!-- TO DO: Need to build out -->

  </div>

  <!-- Add Google Maps -->
  <div id='googleMap'></div>

  <div class='container-fluid'>

    <div>
      Total Check-Ins: {{ biz.tot_checkins() }}| Your Check_Ins: {{ biz.tot_user_checkins(biz.biz_id) }}<br>
      Average Rating: {{ biz.avg_score() }} | Your Rating: {{ user_score }}<br>
      Total Reviews: {{ biz.tot_reviews() }}<br>
      Total Referrals: {{ biz.tot_refs() }} | Redeemed: {{ biz.tot_refs_red() }}<br>
      Promos Redeemed: {{ biz.tot_promos_red() }}<br>
    </div>

    <!-- TO DO: Use D3 to visualize the rating  -->

    {% if biz.is_owned(session['user_id']) %}

      <h4>Additional Infographics</h4>

      TO DO: Build out total check ins, reviews, redemptions, etc. by month/year

    {% endif %}

  <hr>

  <h3>About Them</h3>

<!-- TO DO: Add map -->
<!--     <div id='biz-map'></div> -->

    <div>
      <address>
        Business Name: {{ biz.biz_name }}<br>
        Address: {{ biz.address }}<br>
        City: {{ biz.city }}<br>
        State: {{ biz.state }}<br>
        Country: {{ biz.country }}<br>
        Zip/Country Code: {{ biz.zipcode }}<br>
        Email: {{ biz.email }}<br>
        Phone: {{ biz.phone }}<br>
        Category: {{ biz.category }}<br>
      </address>
    </div>

    <div>
      <h5>Operation:</h5>
      <ul>
        <li>Days: {{ biz.days_open }}</li>
        <li>Open:
          {% if biz.open_time <= 12 %}
            {{ biz.open_time }}AM
          {% else %}
            {{ biz.open_time - 12 }}PM
          {% endif %}
        </li>
        <li>Close:
          {% if biz.close_time <= 12 %}
            {{ biz.close_time }}AM
          {% else %}
            {{ biz.close_time - 12 }}PM
          {% endif %}
        </li>
      </ul>
    </div>

<!-- TO DO: Edit business feature for owner only if claimed and others if not. -->

<!-- TO DO: degrees of sep should be based on view of business so user can see relatiobship with reviewers -->
  <hr>

  {% if biz.reviews %}
    <h3>Our Reviews</h3>

    <ul>
    {% for review in biz.reviews|sort(attribute='review_date', reverse=True) %}
      {% if (review.dispute and (review.revise_review or review.cust_svc)) or not review.dispute %}
      <li>
        <a href='/user_profile/{{ review.user_id }}'>{{ review.users.username}}</a>
        <i class='fa fa-users prefix'></i> {{ review.users.tot_friends() }} |
        {% if review.users.deg_of_sep(review.user_id) %}
          <i class='fa fa-chain prefix'></i> {{ review.users.deg_of_sep(review.user_id) }}
        {% else %}
          <i class='fa fa-chain-broken prefix'></i>
        {% endif %}</li>

        {% if review.revise_review %}
          <p>Updated Rating: {{ review.new_rating }} | Date: {{ review.review_date|datetimeformat('%d %b %Y') }} | Total Likes: {{ review.tot_likes() }} |
            {% if review.has_liked(session['user_id']) %}
              <button disabled><i class="fa fa-heart" aria-hidden="true"></i></button>
            {% else %}
              <button id='{{ review.review_id }}' class='like' data-review-id='{{ review.review_id }}'><i class="fa fa-heart-o" aria-hidden="true"></i></button>
            {% endif %}
          <p>{{ review.new_review }}</p>
          <b style='color: #880e4f'>Comment from
            {% if review.biz.users %}
              {{ review.biz.users[0].username }},
            {% endif %}
             owner of {{ review.biz.biz_name }}</b>
          <p>{{ review.response }}</p>
          <p><i>Original Rating: </i>{{ review.rating }}</p>
          <p>{{ review.review }}</p>
        {% else %}
          <p>Rating: {{ review.rating }} | Date: {{ review.review_date|datetimeformat('%d %b %Y') }} | Total Likes: {{ review.tot_likes() }} |
            {% if review.has_liked(session['user_id']) %}
              <button disabled><i class="fa fa-heart" aria-hidden="true"></i></button>
            {% else %}
              <button id='{{ review.review_id }}' class='like' data-review-id='{{ review.review_id }}'><i class="fa fa-heart-o" aria-hidden="true"></i></button>
            {% endif %}

          <p>{{ review.review }}</p>
          {% if review.cust_svc %}
            <b><i>Customer Service Rating:</i> {{ review.cust_svc }}</b>

            <b style='color: #880e4f'>Comment from
              {% if review.biz.users %}
                 {{ review.biz.users[0].username }},
              {% endif %}
               owner of {{ review.biz.biz_name }}</b>
            <p>{{ review.response }}</p>
          {% else %}
            {% if biz.is_owned(session['user_id']) %}
              <button id='dispute {{ review.review_id }}' class='dispute'>Respond</button>
            {% endif %}
          {% endif %}
            <!-- TO DO: Add AJAX to process dispute -->
        {% endif %}
      </li>
      {% else %}
      <b>Being Addressed</b>
      <li>
        <a href='/user_profile/{{ review.user_id }}'>{{ review.users.username}}</a>
          <i class='fa fa-users prefix'></i> {{ review.users.tot_friends() }} |
          {% if review.users.deg_of_sep(review.user_id) %}
            <i class='fa fa-chain prefix'></i> {{ review.users.deg_of_sep(review.user_id) }}
          {% else %}
            <i class='fa fa-chain-broken prefix'></i>
          {% endif %}</li>

        <p>Rating: {{ review.rating }} | Date: {{ review.review_date|datetimeformat('%d %b %Y') }} | Total Likes: {{ review.tot_likes() }} |
          {% if review.has_liked(session['user_id']) %}
            <button disabled><i class="fa fa-heart" aria-hidden="true"></i></button>
          {% else %}
            <button id='{{ review.review_id }}' class='like' data-review-id='{{ review.review_id }}'><i class="fa fa-heart-o" aria-hidden="true"></i></button>
          {% endif %}
        <p>{{ review.review }}</p>
        <b style='color: #880e4f'>Comment from
          {% if review.biz.users %}
             {{ review.biz.users[0].username }},
          {% endif %}
           owner of {{ review.biz.biz_name }}</b>
          <p>{{ review.response }}</p>
          {% if biz.has_reviewed %}
            <button id='revise {{ review.review_id }}' class='revise-review'>Revise Review</button>
            <button id='cust-svc {{ review.review_id }}' class='cust-svc'>Rate Customer Svc</button>

          <!-- TO DO: Add AJAX to update review or rate customer svc. -->
          {% endif %}
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}

  <hr>

  {% if biz.promos %}
    <h3>Our Promotions</h3>

    <ul>
    {% for promo in biz.promos|sort(attribute='end_date', reverse=True) %}
      {% if promo.end_date >= today %}
        <li>{{ promo.title }}: {{ promo.descr }} | expiration date: {{ promo.end_date|datetimeformat('%d %b %Y') }}</li>
      {% elif loop.first and promo.end_date <= today %}
        <li>No active promotions.</li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}

  {% if biz.users %}
    <h3>Business Affiliates</h3>

    <ul>
    {% if biz.users[0].biz[1:] %}
      {% for affiliate in biz.users[0].biz %}
        {% if affiliate.biz_id != biz.biz_id %}
          <li><a href='/business-profile/{{ affiliate.biz_name }}'>{{ affiliate.biz_name }}</a></li>
        {% endif %}
      {% endfor %}
    {% else %}
      <li>No other affiliations.</li>
    {% endif %}
    </ul>
  {% endif %}

  </div>

{% endblock %}

{% block script %}

<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap'></script>

<!-- FIXME: Update key -->

<script type='text/javascript'>
  'use strict';

function myMap() {
  let myCenter = new google.maps.LatLng({{biz.lat}}, {{biz.lng}});
  let mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:false, mapTypeId:google.maps.MapTypeId.ROADMAP};
  let map = new google.maps.Map(document.getElementById('googleMap'),mapProp);
  let marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map);
}

  // display map with business marker

  // let map;

  // function initialize() {
  //   let lat = //pull from database
  //   let lng = //pull from database

  //   let mapOptions = {
  //     zoom: 8,
  //     center: new google.maps.LatLng(lat, lng)
  //   };

  //   map = new google.maps.Map(document.querySelector('#biz-map'),
  //         mapOptions);
  // }

  // google.maps.event.addDomListener(window, 'load', initialize);
<script>
$(document).ready(function(){
  $('#myInputAvail, #myInputRed').on('keyup', function() {
    let value = $(this).val().toLowerCase();
    $('#myTable tr').filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<script>
function myMap() {
let myCenter = new google.maps.LatLng(41.878114, -87.629798);
let mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:false, mapTypeId:google.maps.MapTypeId.ROADMAP};
let map = new google.maps.Map(document.getElementById('googleMap'),mapProp);
let marker = new google.maps.Marker({position:myCenter});
marker.setMap(map);
}

</script>
</script>

{% endblock %}