{% extends 'base.html' %}
{% block content %}

  <h1>Business Profile</h1>

  <!-- TO DO: Set each as either menu item on left panel or as scroll down from nav bar. -->

  <h2>{{ biz.biz_name }}</h2>
    {% if not biz.is_checkin(session['user_id']) %}
      <form action='/checkin/{{ biz.biz_id }}' method='POST'>
        <input type='submit' value='Check-In'>
      </form>
    {% endif %}

    {% if not biz.has_reviewed(session['user_id']) %}
      <form action='/review/{{ biz.biz_name }}'>
        <input type='submit' value='Review'>
      </form>
    {% endif %}
      <br>

    <div>
      Total Check-Ins: {{ checkins }}|Your Check_Ins: {{ user_checkins }}<br>
      Average Rating: {{ score }} | Your Rating: {{ user_score }}<br>
      Total Reviews: {{ count }}<br>
      Total Referrals: {{ refs }} | Redeemed: {{ ref_redeem }}<br>
      Promos Redeemed: {{ promos_redeem }}<br>
    </div>

    <!-- TO DO: Use D3 to visualize the rating  -->

    {% if biz.is_owned(session['user_id']) %}

      <h4>Additional Infographics</h4>

      TO DO: Build out totcl check ins, reviews, redemptions, etc. by month/year

    {% endif %}

  <h3>About Them</h3>

    <div>
      {% if biz.biz_pic %}
        <img src='{{ biz.biz_pic }}'>
      {% else %}
        <img src='/static/img/dragonfly_mating.jpeg'>
      {% endif %}
    </div>

    <div>
      <address>
        Business Name: {{ biz.biz_name }}<br>
        Address: {{ biz.address }}<br>
        City: {{ biz.city }}<br>
        State: {{ biz.state }}<br>
        Country: {{ biz.country }}<br>
        Zip/Country Code: {{ biz.zipcode }}<br>
        Email: {{ biz.email }}<br>
        Phone: {{ biz.phone }}<br>
        Category: {{ category }}<br>
      </address>
    </div>

    <div>
      <h4>Operation:</h4>
      <ul>
        <li>Days: {{ biz.days_open }}</li>
        <li>Open:
          {% if biz.open_time <= 12 %}
            {{ biz.open_time }}AM
          {% else %}
            {{ biz.open_time - 12 }}PM
          {% endif %}
        </li>
        <li>Close:
          {% if biz.close_time <= 12 %}
            {{ biz.close_time }}AM
          {% else %}
            {{ biz.close_time - 12 }}PM
          {% endif %}
        </li>
      </ul>
    </div>

  {% if biz.reviews %}
    <h3>Our Reviews</h3>

    <ul>
    {% for review in biz.reviews|sort(attribute='review_date', reverse=True) %}
      <li>
        <a href='/user_profile/{{ review.user_id }}'>{{ review.users.username}}</a>
        {% if review.revise_review %}
          <p>Rating: {{ review.new_rating }} | Date: {{ review.review_date|datetimeformat('%d %b %Y') }} | <button id='{{ review.review_id }}' class='like' data-review-id='{{ review.review_id }}'>Like</button></p>
          <p>{{ review.new_review }}</p>
        {% else %}
          <p>Rating: {{ review.rating }} | Date: {{ review.review_date|datetimeformat('%d %b %Y') }} | <button id='{{ review.review_id }}' class='like' data-review-id='{{ review.review_id }}'>Like</button></p></p>
          <p>{{ review.review }}</p>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if biz.promos %}
    <h3>Our Promotions</h3>

    <ul>
    {% for promo in biz.promos|sort(attribute='end_date', reverse=True) %}
      {% if promo.end_date >= today %}
        <li>{{ promo.title }}: {{ promo.descr }} | expiration date: {{ promo.end_date|datetimeformat('%d %b %Y') }}</li>
      {% elif loop.first and promo.end_date <= today %}
        <li>No active promotions.</li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}

  {% if biz.users %}
    <h3>Business Affiliates</h3>

    <ul>
    {% if biz.users[0].biz[1:] %}
      {% for affiliate in biz.users[0].biz %}
        {% if affiliate.biz_id != biz.biz_id %}
          <li><a href='/business_profile/{{ affiliate.biz_name }}'>{{ affiliate.biz_name }}</a></li>
        {% endif %}
      {% endfor %}
    {% else %}
      <li>No other affiliations.</li>
    {% endif %}
    </ul>
  {% endif %}


{% endblock %}

{% block script %}

<script type='text/javascript'>
'use strict';

function disableLike(results) {
  $(this).prop('disabled', true)
}

function handleClick(evt) {
  evt.preventDefault();
  let formInputs = {
    'review_id': evt.target.id,
  };

  $.post('/like-review', formInputs, disableLike)
}

$('.like').on('click', handleClick)
</script>

{% endblock %}