{% extends 'base.html' %}
{% block content %}

  <h1>Friend's Profile</h1>

  <!-- TO DO: Set each as either menu item on left panel or as scroll down from nav bar. -->

  <h3>About {{ user.username }}</h3>

    <div>
      {% if user.user_pic %}
        <img src='{{ user.user_pic }}'>
      {% else %}
        <img src='/static/img/dragonfly_friend.jpeg'>
      {% endif %}
    </div>

    <div>
      <ul>
        First Name: {{ user.first_name }}<br>
        Last Name: {{ user.last_name }}<br>
        User Name: {{ user.username }}<br>
        Member Since: {{ user.join_date|datetimeformat('%b %Y') }}<br>
    </div>

  <h3>My Digits</h3>

    <div>
      <ul>
        Check-Ins: {{ checkins }}<br>
        Reviews: {{ reviews }}<br>
        Referrals: {{ refs }} | Redeemed: {{ redeem_refs }}<br>
        Promos Redeemed: {{ redeem_promos }}<br>
        Friends: {{ friends }}
      </ul>
    </div>

  {% if user.friends %}
    <h3>Friends</h3>

    <ul>
    {% for friend in user.friends|sort(attribute='username') %}
      <li>
        <a href='/friend_profile/{{ friend.user_id }}'>{{ friend.username }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if user.reviews %}
    <h3>Reviews</h3>

    <ul>
    {% for review in user.reviews|sort(attribute='review_date') %}
      <li>
        <a href='/business_profile/{{ review.biz.biz_name }}'>{{ review.biz.biz_name}}</a>
        {% if review.revise_review %}
          <p>Updated Rating: {{ review.new_rating }} | Date: {{ review.review_date|datetimeformat('%d %b %Y') }} |
            {% if review.has_liked(session['user_id']) %}
              <button disabled><i class="fa fa-heart" aria-hidden="true"></i></button>
            {% else %}
              <button id='{{ review.review_id }}' class='like' data-review-id='{{ review.review_id }}'><i class="fa fa-heart-o" aria-hidden="true"></i></button>
            {% endif %}
          <p>{{ review.new_review }}</p>
        {% else %}
          <p>Rating: {{ review.rating }} | Date: {{ review.review_date|datetimeformat('%d %b %Y') }} |
            {% if review.has_liked(session['user_id']) %}
              <button disabled><i class="fa fa-heart" aria-hidden="true"></i></button>
            {% else %}
              <button id='{{ review.review_id }}' class='like' data-review-id='{{ review.review_id }}'><i class="fa fa-heart-o" aria-hidden="true"></i></button>
            {% endif %}
          <p>{{ review.review }}</p>
        {% endif %}
        {% if review.dispute %}
          <b>Comment from {{ review.biz.users.username }}, owner of {{ review.biz.biz_name }}</b>
          <p>{{ review.response }}</p>
          {% if review.cust_svc %}
            <p><i>Customer Service Rating: </i>{{ review.cust_svc }}
          {% endif %}
          {% if review.cust_svc or revew.revise_review %}
            <p><i>Original Rating: </i>{{ review.rating }}</p>
            <p>{{ review.review }}</p>
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  <!-- TO DO: Add total likes per review -->

  {% if user.biz %}
    <h3>My Businesses</h3>

    <ul>
    {% for biz in user.biz %}
      <li><a href='/business_profile{{ biz.biz_id }}'>{{ biz.biz_name }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

{% endblock %}

{% block script %}

<script type='text/javascript'>
'use strict';

function disableLike(results) {
  alert(results);
}

function handleClick(evt) {
  evt.preventDefault();
  let formInputs = {
    'review_id': evt.target.id,
  };
  $.post('/like-review', formInputs, disableLike);
    $(this).prop('disabled', true);
}

$('.like').on('click', handleClick)
</script>

{% endblock %}