{% extends 'base.html' %}
{% block content %}

  <h1>BUDdy</h1>

  <h2>Paying it forward...</h2>

  <p><a href="/trends">Trending</a></p>
  <!-- TO DO: build out trending page and features for either top key searches,
                top businesses checked into, etc. -->

  <iframe src="https://giphy.com/embed/CFpxc7SmOm7C0" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/storybots-confused-CFpxc7SmOm7C0">via GIPHY</a></p>

  <p><a href="/trends">Feature</a></p>

  Perhaps use D3 to visualize a business and its referrals/network or a user's referrals/network<br>

  <iframe src="https://giphy.com/embed/3oz8xPAA0RduEWPEKQ" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/fullerhouse-netflix-funny-3oz8xPAA0RduEWPEKQ">via GIPHY</a></p>

  {% if 'user_id' in session %}
    <form action='/add-biz'>
      <button type='submit' name='add-biz'>Add a Biz!</button>
    </form><br>
  {% endif %}

{% endblock %}