{% extends 'base.html' %}

{% block head %}
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <link rel='stylesheet' type='text/css' href='https://cdn3.devexpress.com/jslib/17.2.3/css/dx.spa.css' />
  <link rel='stylesheet' type='text/css' href='https://cdn3.devexpress.com/jslib/17.2.3/css/dx.common.css' />
  <link rel='dx-theme' data-theme='generic.light' href='https://cdn3.devexpress.com/jslib/17.2.3/css/dx.light.css' />
  <link rel='stylesheet' type='text/css' href='/static/css/bubble.css' />
  <link rel='stylesheet' type='text/css' href='/static/css/friend_network.css'>
  <link rel='stylesheet' type='text/css' href='/static/css/styles.css'>


{% endblock %}

{% block content %}



<div class='container-fluid' style='min-height: 750px'>
  <br>
  <h1 style='font-family: Architects Daughter, cursive; font-size: 40px; color: #337ab7'><b>BUDdy</b></h1>

  <h2 style='font-size: 20px'>Paying it forward...</h2>

  {% if 'user_id' in session %}
    <button type='button' class='btn btn-unique btn-rounded waves-light' mdbRippleRadius><a href='/add-biz'>Add a Business</a></button>
  {% endif %}

  <hr>
  <ul class='nav nav-pills'>
    <li class='nav-item'><a data-toggle='pill' href='#chart-refs' class='nav-link active'>Referrals</a></li>
    <li class='nav-item'><a data-toggle='pill' href='#chart-promos' class='nav-link'>Promotions</a></li>
  </ul>

  <div class='tab-content'>
    <div id='chart-refs' class='dx-viewport demo-container tab-pane active'></div>

    <div id='chart-promos' class='dx-viewport demo-container tab-pane fade'></div>
  </div>


  <br>
  <br>

{% if 'user_id' in session %}
  <h2 style='font-size: 20px;'>Chain Gang: What a wicked web we weave...</h2>
    <br>
    <h6>Degrees of separation</h6>
    <form id='degree' action='/data.json' enctype='multipart/form-data'>
      <input type='radio' name='degree' value='1'>1
      <input type='radio' name='degree' value='2' checked>2
      <input type='radio' name='degree' value='3'>3
      <input type='radio' name='degree' value='4'>4
      <input type='radio' name='degree' value='5'>5
      <input type='radio' name='degree' value='6'>6

      <input type='submit' value='Connect Me' style='color: #fff;
    background-color: #337ab7;'>
    </form>

    <div id='network'></div>

{% endif %}

</div>


{% endblock %}

{% block script %}

  <script src='https://cdn3.devexpress.com/jslib/17.2.3/js/dx.all.js'></script>
  <script src='/static/js/bubble_data_refs.js'></script>
  <script src='/static/js/bubble_data_promos.js'></script>
  <script src='/static/js/bubble.js'></script>
  <script src='https://d3js.org/d3.v4.min.js'></script>
  <script type='text/javascript' src='/static/js/friend_network.js'></script>

<!-- //   <script> -->
<!-- 'use strict'; -->

<!-- //   $(document).ready(() => { -->

<!-- //     $('degree').on('submit', function(evt) { -->
<!-- //       // evt.preventDefault(); -->
<!-- //       // let data = new FormData(this); -->
<!-- //       // console.log(data); -->
<!-- //       let formInputs = { -->
<!-- //         'degree': $('degree').value() -->
<!-- //       }; -->
<!-- //       // console.log(formInputs); -->
<!-- //       $.get('/data.json', formInputs, () => { -->
<!-- //         // location.reload(true); -->
<!-- //         location.reload('/'); -->
<!-- //       }); -->
<!-- //     }); -->
<!-- //   }); -->

<!-- //   </script> -->

{% endblock %}