{% extends 'base.html' %}
{% block content %}

<h1>Password Reset</h1>

<form action='/pword-reset' method='POST'>

<!-- TO DO: Not sure if the below is needed if a link is sent to email to click on and link carries the email as an argument to pass back. -->
    <div>
        <label>
            Username or Email: <input type='text' name='user-info' required>
        </label>
    </div>


    <div>
        <label>
            Password: <input type='password' name='pword' required>
        </label>
    </div>
    <input type='submit'>
</form>

{% endblock %}
