{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}

<h1>Password Reset</h1>

<form id='pword' action='/pword-reset' method='POST'>

<!-- TO DO: Not sure if the below is needed if a link is sent to email to click on and link carries the email as an argument to pass back. -->
  <div>
    <label>
      Username or Email: <input type='text' id='email' name='user-info' required>{{ email }}
    </label>
  </div>

  <div>
    <label>
      Password: <input type='password' id='pword-reg' name='pword1' required>
    </label>
  </div>

  <div>
    <label>
      Retype Password: <input type='password' id='pword-rep' name='pword2' required>
    </label>
  </div>

  <input type='submit'>
</form>

{% endblock %}

{% block script %}
<script>
'use strict';

function msgReload(results) {
  if (results.code === 'danger') {
    alert(results.msg);
  } else {
    alert(results.msg);
    location.reload('/');
  }
}

$(document).ready(() => {
  $('#pword').on('submit', function(evt) {
    evt.preventDefault();
    let pword1 = $('#pword-reg').val();
    let pword2 = $('#pword-rep').val();
    if (pword1 != pword2) {
      alert('The password does not match. Try again.');
    } else {
      let formInputs ={
        'email' = $('#email').val(),
        'pword' = pword1
      };
      $.post('/pword-reset', formInputs, msgReload)
    }
  });

};
</script>

{% endblock %}
