{% extends 'base.html' %}
{% block content %}

<h1>Register</h1>

<form action='/register' method='POST' enctype='multipart/form-data'>

  <div>
    <label>
      First Name: <input type='text' name='fname' required>
    </label>
  </div>

  <div>
    <label>
      Last Name: <input type='text' name='lname' required>
    </label>
  </div>

  <div>
    <label>
      Username: <input type='text' name='username' required>
    </label>
  </div>

  <div>
    <label>
      Email: <input type='email' name='email' required>
    </label>
  </div>

  <div>
    <label>
      Password: <input type='password' name='pword' required>
    </label>
  </div>

  <div>
    <label>
      Birth Date (mm/dd/yyyy): <input type='date' name='bday'>
    </label>
  </div>

  <div>
    <label>
      Picture: <input type='file' name='pic' accept='image/*'>
    </label>
  </div>

  <div>
    <label>
      Business account?
        <input type='radio' name='biz' value='true' checked>Yes
        <input type='radio' name='biz' value='false'>No
    </label>
  </div>
  <input type='submit'>
</form>


                    <!-- Begin | Register Form -->
<!--                     <form id="register-form" style="display:none;">
                        <div class="modal-body">
                            <div id="div-register-msg">
                                <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-register-msg">Register an account.</span>
                            </div>
                            <input id="register_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>
                            <input id="register_email" class="form-control" type="text" placeholder="E-Mail" required>
                            <input id="register_password" class="form-control" type="password" placeholder="Password" required>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                            </div>
                            <div>
                                <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                                <button id="register_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                            </div>
                        </div>
                    </form> -->
                    <!-- End | Register Form -->


{% endblock %}