{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}

<!-- TO DO: Make the below a modal on individual biz page -->

<div class='container-fluid' style='height: 745px'>

<h1>Response to Review</h1>

<h2>{{ review.biz.biz_name }} to {{ review.users.username }}</h2>

  <form action='/respond/{{ review.review_id }}' method='POST'>
    Response:<br>
      <div class='md-form'>
        <textarea class='md-textarea' id='input-response' type='text' length='5000' name='rev-response' mdbCharCounter mdbActive></textarea>
        <label for='input-response'>Type your response</label>
        Remaining characters: <i id='charsResponse'></i>
      </div>
    <input type='submit'>
  </form>

</div>

{% endblock %}

{% block script %}

  <script>
  $(document).ready(function() {

    let maxLength = 5000;
    $('#input-response, textarea').keyup(function() {
      let length = $(this).val().length;
      let charLeft = maxLength - length;
      $('#charsResponse').text(charLeft);
    });

  });

  </script>

{% endblock %}