{% extends 'base.html' %}

{% block head %}

<link rel='stylesheet' type='text/css' href='/static/css/flipper.css'>

{% endblock %}

{% block content %}

<div class='container-fluid'>

  <form id='biz-search' class='form-inline' action='/search-biz'>
    <input class='form-control' type='text' placeholder="Who's the Lucky One?" aria-label='Search'>
    <button class='btn btn-outline-success btn-sm my-0' type='submit'>Search</button>
  </form>

  <!-- FIXME: search bar is now truncated -->

</div>

<hr>

<div class='container-fluid'>
  {% if checkins %}
  <h3>Recent Visits</h3>
  <br>

    {% for item in checkins %}
        {% if item.biz.visit_not_reviewed(session['user_id']) %}
          <!--Rotating card-->
          <div id='myCard-{{ item.biz.biz_id }}' class='myCard flip-container' ontouchstart="this.classList.toggle('flip');">
            <div class='flipper'>
              <!--Front Side-->
              <div class='front'>
                <!--Avatar-->
                <div class='avatar'><img src='{{ item.biz.biz_pic }}' class='rounded-circle img-responsive' height='100' width='100'></div>
                <div class='card-body'>
                  <!-- front content -->
                  <br><br>
                  <h4><a class='card-title' href='/business-profile/{{ item.biz.biz_name }}'>{{ item.biz.biz_name }}</a></h4>
                  <hr>
                  <div>
                    <i class='fa fa-check-square-o prefix'></i> {{ item.biz.tot_user_checkins(session['user_id']) }} |
                    {% if item.biz.deg_of_sep(session['user_id']) %}
                      <i class='fa fa-chain prefix'></i> {{ item.biz.deg_of_sep(session['user_id']) }}
                    {% else %}
                      <i class='fa fa-chain-broken prefix'></i>
                    {% endif %}
                    <p>Category: {{ item.biz.category }} | Rating: {{ item.biz.avg_score() }}</p>
                    <p>Address: {{ item.biz.address }}, {{ item.biz.city }}, {{ item.biz.state }}  {{ item.biz.zipcode }}</p>
                  </div>
                  <hr>
                  <!--Triggering button-->
                  <a class='flip-card' class='rotate-btn'><i class='fa fa-repeat'></i> Click here to rotate</a>
                </div>
              </div>
              <!--/.Front Side-->

              <!--Back Side-->
              <div class='back'>
                <!-- back content -->
                <div>
                  <h4 class='card-title'>About us</h4>
                  <hr>
                  Total Check-Ins: {{ item.biz.tot_checkins() }}</br>
                  Total Reviews: {{ item.biz.tot_reviews() }}</br>
                  Total Referrals: {{ item.biz.tot_refs () }}</br>
                  Total Redemptions: {{ item.biz.tot_promos_red() }}</br>
                </div>
                <hr>
                <!--Social Icons-->
                <div>
                  <ul class='inline-ul'>
                    <li><a class='icons-sm fb-ic'><i class='fa fa-facebook'></i></a></li>
                    <li><a class='icons-sm tw-ic'><i class='fa fa-twitter'></i></a></li>
                    <li><a class='icons-sm gplus-ic'><i class='fa fa-google-plus'></i></a></li>
                    <li><a class='icons-sm li-ic'><i class='fa fa-linkedin'></i></a></li>
                  </ul>
                </div>
                <!--Triggering button-->
                <a class='flip-card' class='rotate-btn' data-card='card-1'><i class='fa fa-undo'></i> Click here to rotate back</a>
              </div>
              <!--/.Back Side-->
            </div>
          </div>
        <!--/.Rotating card-->
        {% endif %}
    {% endfor %}
  {% else %}
  <div>You haven't visited any business lately. Please supporting a budding business!</div>
  {% endif %}
</div>

{% endblock %}

{% block script %}
<script>

$('.myCard').on('click', function(evt) {
    console.log(this);
   this.classList.toggle('flip');
});

 </script>
{% endblock %}