{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}

<!-- TO DO: Make the below a modal on individual biz page -->
<div class='container-fluid' style='height: 745px'>

<h1>Review</h1>

<h2>{{ biz_name }}</h2>

  <form action='/review/{{ biz_name }}' method='POST'>
    <input type='hidden' name='rev-type' value='{{ rev_type }}'>
    <input type='hidden' name='review-id' value='{{ review_id }}'
      Rating:<select name='rating'>
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>5</option>
    </select><br>
    <br>
    Review:<br>
      <div class='md-form'>
        {% if rev_type == 'new' %}
          <textarea class='md-textarea review' id='input-review' type='text' length='5000' name='review' mdbCharCounter mdbActive></textarea>
          <label for='input-review'>Type your review</label>
        {% else %}
          <textarea class='md-textarea review' id='input-revise' type='text' length='3000' name='review' mdbCharCounter mdbActive></textarea>
          <label for='input-revise'>Type your review</label>
        {% endif %}
        Remaining characters: <i id='chars'></i>
      </div>
    <input type='submit'>
  </form>

</div>

{% endblock %}

{% block script %}

  <script>
  $(document).ready(function() {

    if ($('#input-review')) {
      let maxLength = 5000;
    } else {
      let maxLength = 3000;
    }
    $('.review, textarea').keyup(function() {
      let length = $(this).val().length;
      let charLeft = maxLength - length;
      $('#chars').text(charLeft);
    });

  });

  </script>


{% endblock %}