{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}

<!-- TO DO: Make the below a modal on individual biz page -->
<div class='container-fluid' style='height: 745px'>

<h1>Review</h1>

<h2>{{ biz_name }}</h2>


  <form action='/review/{{ biz_name }}' method='POST'>
    Rating:<select name='rating'>
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>5</option>
    </select><br>
    <br>
    Review:<br>
      <div class='md-form'>
        <textarea class='md-textarea' id='input-review' type='text' length='5000' name='review' mdbCharCounter mdbActive></textarea>
        <label for='input-review'>Type your review</label>
        Remaining characters: <i id='chars'></i>
      </div>
    <input type='submit'>
  </form>

</div>

{% endblock %}

{% block script %}

  <script>
  $(document).ready(function() {

    let maxLength = 5000;
    $('#input-review, textarea').keyup(function() {
      let length = $(this).val().length;
      let charLeft = maxLength - length;
      $('#chars').text(charLeft);
    });

  });

  </script>


{% endblock %}