{% extends 'base.html' %}
{% block content %}

  <div>
    {% if user.user_pic %}
      <img  id='user_pic' src='{{ user.user_pic }}' hspace='40' align='left'>
    {% else %}
      <img  id='user_pic' src='/static/img/dragonfly.jpeg' hspace='40' align='left'>
    {% endif %}
     <h2>{{ user.username }}</h2>
  </div>

  <hr>

  <div class='container-fluid'>

  <button type='button' class='btn btn-unique btn-rounded waves-light' href='/review-home' mdbRippleRadius>Review a Business</button>

  </div>

  <hr>

  <div class='container-fluid'>

    <div>
      {% if user.reviews %}
        <h3>My Reviews</h3>

        <ul>
        {% for review in user.reviews|sort(attribute='review_date', reverse=True) %}
          <li>
            <a href='/business-profile/{{ review.biz.biz_name }}'>{{ review.biz.biz_name}}</a>
            {% if review.revise_review %}
              <p>Updated Rating: {{ review.new_rating }} | Date: {{ review.review_date|datetimeformat('%d %b %Y') }} | Total Likes: {{ review.tot_likes() }} |
                {% if review.has_liked(session['user_id']) %}
                  <button disabled><i class="fa fa-heart" aria-hidden="true"></i></button>
                {% else %}
                  <button id='{{ review.review_id }}' class='like' data-review-id='{{ review.review_id }}'><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                {% endif %}
              </p>
              <p>{{ review.new_review }}</p>
            {% else %}
              <p>Rating: {{ review.rating }} | Date: {{ review.review_date|datetimeformat('%d %b %Y') }} | Total Likes: {{ review.tot_likes() }} |
                {% if review.has_liked(session['user_id']) %}
                  <button disabled><i class="fa fa-heart" aria-hidden="true"></i></button>
                {% else %}
                  <button id='{{ review.review_id }}' class='like' data-review-id='{{ review.review_id }}'><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                {% endif %}
              </p>
              <p>{{ review.review }}</p>
            {% endif %}
            {% if review.dispute %}
              <b style='color: #880e4f'>Comment from {{ review.biz.users[0].username }}, owner of {{ review.biz.biz_name }}</b>
              <p>{{ review.response }}</p>
              {% if review.cust_svc %}
                <b><i>Customer Service Rating: </i>{{ review.cust_svc }}</b>
              {% endif %}
              {% if revew.revise_review %}
                <p><i>Original Rating: </i>{{ review.rating }}</p>
                <p>{{ review.review }}</p>
              {% endif %}
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endif %}

  </div>

  <hr>

    <div>

      {% if user.referred %}
        <h3>Businesses Referred to Me</h3>

          <ul>
            {% for grouper, list in user.referred|groupby('biz.biz_name') %}
              {% for referral in list %}
                {% if not referral.user_promo.redeemed %}
                  <li><a href='/business-profile{{ grouper }}'>{{ grouper }}</a></li>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
      {% endif %}
    </div>

  </div>

{% endblock %}

{% block script %}


{% endblock %}