{% extends 'base.html' %}
{% block content %}

  <h1>User Profile</h1>

  <!-- TO DO: Set each as either menu item on left panel or as scroll down from nav bar. -->

  <h2>{{ user.username }}</h2>

  TO DO: Summarize total friends, reviews, referrals, check-ins

  <h3>About Me</h3>

    <div>
      <ul>
        First Name: {{ user.first_name }}<br>
        Last Name: {{ user.last_name }}<br>
        User Name: {{ user.username }}<br>
        Email: {{ user.email }}<br>
        Password: {{ user.password }}<br>
        Birthday: {{ user.dob|datetimeformat('%d %b %Y') }}<br>
        Member Since: {{ user.join_date|datetimeformat('%b %Y') }}<br>
    </div>

<!--     <div>
      TO DO: Need to figure out images "\<img src=''>\"
    </div> -->

  <h3>My Digits</h3>

  TO DO: Summarize total reviews, referrals, redemptions of referrals, check-ins

  <!-- TO DO: Need to loop over regardless if user_id is in user_id or friend_id fields -->

  {% if user.friends %}
    <h3>My Friends</h3>

    <ul>
    {% for friend in user.friends|sort(attribute='username') %}
      <li>
        <a href='/friend_profile/{{ friend.user_id }}'>{{ friend.username }}
        <!-- TO DO: Create friend_profile.html and wrapper -->
        </a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  <!-- TO DO: Create business_profile.html and wrapper -->

  {% if user.reviews %}
    <h3>My Reviews</h3>

    <ul>
    {% for review in user.reviews|sort(attribute='review_date') %}
      <li>
        <a href='/business_profile/{{ review.biz_id }}'>{{ review.biz.biz_name}}</a>
        <br>
        {% if review.revise_review %}
          <p>Rating: {{ review.new_rating }} | Date: {{ review.review_date }}</p><br>
          <p>{{ review.new_review }}</p>
        (% else %)
          <p>Rating: {{ review.rating }} | Date: {{ review.review_date }}</p><br>
          <p>{{ review.review }}</p>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if user.referees %}
    <h3>My Referrals</h3>

    <ul>
    {% for grouper, list in user.referees|groupby('biz_id') %}
      <li>{{ grouper }}: <a href='/business_profile/{{ grouper }}'>{{ grouper }}</a>
        <!-- FIXME: convert grouper from biz_id to biz_name -->
        <ul>
          {% for referee in list %}
            </li>{{ referee.username }}: refer date {{ referee.refer_date|datetimeformat('%d %b %Y') }} | redeem date {{ referee.user_promo.redeem_date|datetimeformat('%d %b %Y') }} </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if user.user_promos %}
    <h3>My Promotions/Redemptions</h3>

    <ul>
    {% for promos in user.user_promos.promo|groupby('biz_name') %}
      <li>{{ promos.grouper }}: <a href='/business_profile/{{ promos.grouper }}'>{{ promos.grouper }}</a>
        <!-- FIXME: convert grouper from biz_id to biz_name -->
        <ul>
          {% for promo in promos.list %}
            {% if promo.user_promos.redeemed %}
              <li>{{ promo.title }}: {{ promo.user_promos.redeem_date|datetimeformat('%d %b %Y') }}</li>
            {% else %}
              <li>Available: {{ promo.title }} | expiration date: {{ promo.end_date|datetimeformat('%d %b %Y') }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if user.biz %}
    <h3>My Businesses</h3>

    <ul>
    {% for biz in user.biz %}
      <li><a href='/business_profile{{ biz.biz_id }}'>{{ biz.biz_name }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

{% endblock %}