{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block content %}

  <div>
    {% if user.user_pic %}
      <img  id='user_pic' src='{{ user.user_pic }}' hspace='40' align='left'>
    {% else %}
      <img  id='user_pic' src='/static/img/dragonfly.jpeg' hspace='40' align='left'>
    {% endif %}
     <h2>{{ user.username }}</h2>
  </div>

  <hr>

  <div class='container-fluid'>

  <button type='button' class='btn btn-unique btn-rounded waves-light' mdbRippleRadius><a href='#'>Refer a Business</a></button>

  <!-- TO DO: Need to build out -->

  </div>

  <hr>

  <div class='container-fluid'>

  {% if user.referrals %}
  <hr>

    <h3>My Referrals</h3>

      <ul>
      {% for grouper, list in user.referrals|groupby('biz.biz_name') %}
        <li><a href='/business-profile/{{ grouper }}'>{{ grouper }}:</a> |
          {% for each in list %}
            {% if loop.first and each.biz.deg_of_sep(session['user_id']) %}
            <!-- FIXME: Not sure if that is right syntax -->
              <i class='fa fa-chain prefix'></i> {{ each.biz.deg_of_sep(session['user_id']) }}
            {% else %}
              <i class='fa fa-chain-broken prefix'></i>
            {% endif %}
        </li>
        <ul>
          <li>{{ each.referee.username }} | <i class='fa fa-users prefix'></i> {{ each.referee.tot_friends() }} |
            {% if each.referee.deg_of_sep(session['user_id']) %}
              <i class='fa fa-chain prefix'></i> {{ each.referee.deg_of_sep(session['user_id']) }}
            {% else %}
              <i class='fa fa-chain-broken prefix'></i>
            {% endif %}
          </li>
        </ul>
          <ul>
            <li>refer date {{ each.refer_date|datetimeformat('%d %b %Y') }}
              {% if each.user_promo.redeemed %}
               | redeem date {{ each.user_promo.redeem_date|datetimeformat('%d %b %Y') }}
              {% endif %}
            </li>
          </ul>
          {% endfor %}
      {% endfor %}
      </ul>
  {% else %}

  <p>If you enjoyed the services of a small business, pay it forward and share it with your friends. <i>Refer a business.</i></p>

  {% endif %}

  <hr>

  {% if user.referred %}
    <h3>Businesses Referred to Me</h3>

      <ul>
        {% for grouper, list in user.referred|groupby('biz.biz_name') %}
          {% for referral in list %}
            {% if not referral.user_promo.redeemed %}
              <li><a href='/business-profile{{ grouper }}'>{{ grouper }}</a>
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
  {% endif %}

  </div>

{% endblock %}

{% block script %}


{% endblock %}