{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block content %}

  <div>
    {% if user.user_pic %}
      <img  id='user_pic' src='{{ user.user_pic }}' hspace='40' align='left'>
    {% else %}
      <img  id='user_pic' src='/static/img/dragonfly.jpeg' hspace='40' align='left'>
    {% endif %}
     <h2>{{ user.username }}</h2>
  </div>

  <hr>

  <div class='container-fluid'>

  <button type='button' class='btn btn-unique btn-rounded waves-light' href='#' mdbRippleRadius>Refer a Business</button>

  <!-- TO DO: Need to build out -->

  </div>

  <hr>

  <div class='container-fluid'>


    <h3>My Businesses</h3>

    <ul>
    {% for biz in user.biz %}
      <li><a href='/business-profile{{ biz.biz_name }}'>{{ biz.biz_name }}</a></li>
    {% endfor %}
    </ul>


  TO DO: Build out business analytics

  </div>

{% endblock %}

{% block script %}


{% endblock %}