{% extends 'base.html' %}
{% block content %}

  <div>
    {% if user.user_pic %}
      <img  id='user_pic' src='{{ user.user_pic }}' hspace='40' align='left'>
    {% else %}
      <img  id='user_pic' src='/static/img/dragonfly.jpeg' hspace='40' align='left'>
    {% endif %}
     <h2>{{ user.username }}</h2>
  </div>

  <hr>

  <div class='container-fluid'>

  <button type='button' class='btn btn-unique btn-rounded waves-light' (click)='form.show()' data-toggle='modal' data-target='#modalEdit' mdbRippleRadius>Edit Me</button>

  <!--Modal: Register Form-->
  <form action='/edit-user' method='POST' mdbModal #form='mdb-modal' class='modal fade' id='modalEdit' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog cascading-modal' role='document'>
      <!--Content-->
      <div class='modal-content'>

        <!--Header-->
        <div class='modal-header light-blue darken-3 white-text'>
            <h4 class="title"><i class="fa fa-pencil"></i> User form</h4>
            <button type='button' class='close waves-effect waves-light' data-dismiss='modal' aria-label='Close' (click)='form.hide()'>
                <span aria-hidden='true'>×</span>
            </button>
        </div>

        <!--Body-->
        <div class='modal-body'>

          <div class='md-form form-sm'>
              <i class='fa fa-user prefix'></i>
              <input type='text' id='form15' name='form15' class='form-control'>
              <label for='form15'>First Name</label>
          </div>

          <div class='md-form form-sm'>
              <i class='fa fa-user prefix'></i>
              <input type='text' id='form16' name='form16' class='form-control'>
              <label for='form16'>Last Name</label>
          </div>

          <div class='md-form form-sm'>
              <i class='fa fa-envelope prefix'></i>
              <input class='lowercase' type='text' id='form17' name='form17' class='form-control'>
              <label for='form17'>Email</label>
          </div>

          <div class='md-form form-sm'>
              <i class='fa fa-lock prefix'></i>
              <input type='password' id='form18' name='form18' class='form-control'>
              <label for='form18'>Password</label>
          </div>

          <div class='md-form form-sm'>
              <i class='fa fa-lock prefix'></i>
              <input type='password' id='form19' name='form19' class='form-control'>
              <label for='form19'>Repeat Password</label>
          </div>

          <div class='md-form form-sm'>
              <i class='fa fa-camera-retro prefix'></i>
              <input type='file' accept='image/*' id='form20' name='form20' class='form-control'>
              <label for='form20'>Picture</label>
          </div>

          <div class='md-form form-sm'>
              <i class='fa fa-building prefix'></i>
              <input type='radio' name='form8' value='true' class='md-textarea mb-0'>Yes
              <input type='radio' name='form8' value='false' class='md-textarea mb-0'>No
              <label for='form8'>Business Account</label>
          </div>

          <div class="text-center mt-1-half">
              <button class="btn btn-unique mb-1" mdbRippleRadius>Send <i class="fa fa-send ml-1"></i></button>
          </div>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </form>
  <!--Modal: Register form-->
  </div>

  <hr>

  <div class='container-fluid'>

  <h3>About Me</h3>

    <div>
      <ul>
        First Name: {{ user.first_name }}<br>
        Last Name: {{ user.last_name }}<br>
        User Name: {{ user.username }}<br>
        Email: {{ user.email }}<br>
        Password: {{ user.password }}<br>
        Birthday: {{ user.dob|datetimeformat('%d %b %Y') }}<br>
        Member Since: {{ user.join_date|datetimeformat('%b %Y') }}<br>
      </ul>
    </div>

<hr>

  <h3>My Digits</h3>

    <div>
      <ul>
        Check-Ins: {{ user.tot_checkins() }}<br>
        Reviews: {{ user.tot_reviews() }}<br>
        Referrals: {{ user.tot_refs() }} | Redeemed: {{ user.tot_refs_reds() }}<br>
        Promos Redeemed: {{ user.tot_reds }}<br>
        Friends: {{ user.tot_friends() }}
        Total Businesses Visited: {{ user.tot_unique_biz() }}</p>
        Total Businesses Referred to Friends: {{ user.tot_biz_referrals() }}</p>
      </ul>
    </div>


  {% if user.referrals %}
  <hr>

    <h3>My Referrals</h3>

      <ul>
      {% for grouper, list in user.referrals|groupby('biz.biz_name') %}
        <li><a href='/busines-profile/{{ grouper }}'>{{ grouper }}:</a></li>
        <ul>
          {% for each in list %}
            </li>{{ each.referee.username }}: refer date {{ each.refer_date|datetimeformat('%d %b %Y') }}
            {% if each.user_promo.redeemed %}
             | redeem date {{ each.user_promo.redeem_date|datetimeformat('%d %b %Y') }}
            {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
      </ul>
    {% endif %}

  {% if user.user_promos %}
  <hr>
    <h3>My Promotions/Redemptions</h3>

    <ul>
    {% for grouper, list in user.user_promos|groupby('redeemed') %}
      {% if grouper == False %}
        <b>Available</b>
          <ul>
            {% for grouper, list in list|groupby('promo.biz.biz_name') %}
              <a href='/business-profile/{{ grouper }}'>{{ grouper }}:</a>
                {% for promo in list %}
                  <li>{{ promo.promo.title }}: {{ promo.promo.descr }} | expiration date: {{ promo.promo.end_date|datetimeformat('%d %b %Y') }}</li>
                {% endfor %}
            {% endfor %}
          </ul>
      {% else %}
        <br>
        <b>Redeemed</b>
          <ul>
            {% for grouper, list in list|groupby('promo.biz.biz_name') %}
              <a href='/business-profile/{{ grouper }}'>{{ grouper }}:</a>
                {% for promo in list %}
                  <li>{{ promo.promo.title }}: {{ promo.redeem_date|datetimeformat('%d %b %Y') }}</li>
                {% endfor %}
            {% endfor %}
          </ul>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}

  {% if user.biz %}
  <hr>

    <h3>My Businesses</h3>

    <ul>
    {% for biz in user.biz %}
      <li><a href='/business-profile{{ biz.biz_name }}'>{{ biz.biz_name }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if user.referred %}
    <h3>Businesses Referred to Me</h3>

      <ul>
        {% for grouper, list in user.referred|groupby('biz.biz_name') %}
          {% for referral in list %}
            {% if not referral.user_promo.redeemed %}
              <li><a href='/business-profile{{ grouper }}'>{{ grouper }}</a></li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
  {% endif %}

  </div>

{% endblock %}

{% block script %}


{% endblock %}